---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "preloader",
        "bootstrap",
        "animate",
        "revolution",
        "fonts",
        "variables",
        "style",
        "custom"
;

//Estilos propios
$txt-margin: 25px;
.txt-img{
	margin-bottom: $txt-margin;
	&.pull-left{
		margin-right: $txt-margin;
	}
	&.pull-right{
		margin-left: $txt-margin;
	}
}
.gallery-wrap{
	.figure{
		margin-bottom:20px;
	}
}
