---
layout: default
---
{% include banner.html %}


  <hr class="hr-nobg hr-md">
  <div class="container">
    <div class="row irow-xs cards">
      <div class="col-md-8 col-sm-6">
        <div class="card card-image">
          <figure class="figure slider oneslider">
							<ul data-fx="scroll" data-auto="true" data-timeout="4000">
                {% for slide in site.data.small_slides %}
                  {% unless slide.oculto == true %}
                    <li style="width: 720px;">
                      <a href="">
                        <img src="{{slide.image.url}}&w=740&h=394&fit=crop" alt="">
                      </a>
                    </li>
                  {% endunless %}
                {% endfor %}
							</ul>
							<a class="slider-arrow slider-arrow-prev" href=""></a>
							<a class="slider-arrow slider-arrow-next" href=""></a>
							<nav class="slider-pagination"></nav>
						</figure>
					</div>
        </div>
        <div class="col-md-4 col-sm-6">
          <h2><a href="">Punta Perla Pacífico</a></h2>
          <div class="heading-divider"></div>
          {{site.data.small_description.content}}
        </div>
      </div>
    </div>
<hr class="hr-nobg hr-md">
<div class="highlight highlight-light">
{% include clusters.html %}
