<!-- FOOTER -->
<footer class="footer footer-dark">

  <!--<div class="promo-box promo-box-dark promo-box-simple inverse overlay background promo-box-hg">
    <div class="container">
      <nav class="share-links pull-right">
        <h4 class="pull-left">Follow Us</h4>
        <a href="" class="fa fa-facebook"></a>
        <a href="" class="fa fa-twitter"></a>
        <a href="" class="fa fa-linkedin"></a>
        <a href="" class="fa fa-google-plus"></a>
        <a href="" class="fa fa-youtube-play"></a>
        <a href="" class="fa fa-dribbble"></a>
        <a href="" class="fa fa-instagram"></a>
      </nav>
    </div>
  </div>-->

  <!-- FOOTER ROW -->
  <div class="footer-row">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-xs-6">
<div class="widget widget_about">
  <svg width="349" height="207">
      <image xlink:href="{{ site.url }}/images/logo.svg" src="{{ site.url }}/images/logo.png" width="320" height="207" />
    </svg>
</div>
        </div>
        <div class="col-md-2 col-xs-6">
          <div class="widget widget_links">
            <h2 class="widget-title">Sections</h2>
            <ul>
              <li><a href="">About Us</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">Meet Our Team</a></li>
              <li><a href="">Careers</a></li>
              <li><a href="">Mexico Partners</a></li>
              <li><a href="">Plans and Pricing</a></li>
              <li><a href="">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="widget widget_contact_form">
            <h2 class="widget-title">Receive updates</h2>
            <p>Subscribe to our newletter to receive updates about the project</p>
            <form action="../../php/email.php" method="post" class="contact-form" novalidate="">
              <div class="form-group">
                <input type="text" name="name" id="send-form-name" placeholder="Name and Lastname" required="required">
              </div>
              <div class="form-group">
                <input type="email" name="email" id="send-form-email" placeholder="Email" required="required">
              </div>
              <button type="submit" class="btn btn-primary">Send</button>
              <p class="succs-msg">Мessage was sent</p>
            </form>
          </div>
        </div>
        <div class="col-md-3 col-xs-6">
          <div class="widget widget_contact widget_map">
            <h2 class="widget-title">Contact us</h2>
            <ul class="widget_contact_list">
              <li>
                <i class="fa fa-map-marker"></i>
                <address>Puntarenas <br> Costa Rica</address>
              </li>
              <li>
                <i class="fa fa-phone"></i>
                <address>
                  <a href="tel:++3702122904700">+506 2190 4700</a>
                </address>
              </li>
              <li>
                <i class="fa fa-envelope"></i>
                <address>
                  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </address>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.footer-row -->

  <!-- FOOTER EXTRA -->
  <div class="footer-extra">
    <div class="container">
      <p class="copyrights pull-left">
        © Copyrights 2015 &nbsp;<a href="">Pacific Tree Co. Inc. S.A.</a>
         | Powered by: <a href="http://guayo.me" target="_blank">Guayo Mena</a>
      </p>
      <nav class="social-links pull-right">
        <ins>Follow us</ins>
        <a href=""><i class="fa fa-twitter"></i> <span>Twitter</span></a>
        <a href=""><i class="fa fa-facebook-square"></i> <span>Facebook</span></a>
        <a href=""><i class="fa fa-linkedin"></i> <span>Linkedin</span></a>
        <a href=""><i class="fa fa-instagram"></i> <span>Instagram</span></a>
        <a href=""><i class="fa fa-behance"></i> <span>Behance</span></a>
      </nav>
    </div>
  </div>
  <!-- /.footer-extra -->

</footer>
<!-- /.footer -->
