.sidebar{
  li{
    a{
      text-align: left;
    }
    &.active a{
      color: $main-color;
    }
  }
}
p.read-more{
  margin-top: 0;
}
object{
  display: block;
  float: left;
}
.tp-caption{
  margin-top: 100px;
}
.tp-text{
  float: left;
  margin-top: 80px;
  border-left: solid 1px;
  padding-left: 20px;
  padding-top: 20px;
  margin-left: 20px;
}
