---
layout: project
---
<div class="">
	<div class="row isotope-wrap gallery-wrap magnific-wrap">
		{% for plan in site.data.plans %}
			<div class="col-xs-12 mix office">
				<h3>{{ plan.title }}</h3>
				<figure class="figure">
					<img src="{{ plan.image.url(w:900) }}" alt="{{ plan.title }}">
					<div class="mask mask-dark">
						<nav>
							<a image="icon icon-inverse icon-size-3 icon-theme icon-rounded magnific" href="{{ plan.image.url }}" title="{{ plan.title }}">
								<i class="fa fa-search"></i>
							</a>
						</nav>
					</div>
				</figure>
			</div>
		{% endfor %}
	</div>
</div>
