---
layout: project
---
{% include program_data_charts.html %}
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th colspan="2">Construction Areas</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2" style="text-align: center;"><img src="/images/grafico-data.png"></td>
		</tr>
		<tr>
			<td>TOTAL POPUATION</td>
			<td class="text-right">154377</td>
		</tr>
		<tr>
			<td>Automoviles</td>
			<td class="text-right">65217</td>
		</tr>
		<tr>
			<td>Total Lot Areas</td>
			<td class="text-right">1,774 Ha</td>
		</tr>
		<tr>
			<td>Total Building Area</td>
			<td class="text-right">5,693,637m<sp>2</sup></td>
		</tr>
		<tr>
			<td>Airport building area</td>
			<td class="text-right">365,914m<sup>2</sup></td>
		</tr>
		<tr>
			<td>Airport lot area</td>
			<td class="text-right">936 Ha</td>
		</tr>
		<tr>
			<td>Future development area</td>
			<td class="text-right">1,156 Ha</td>
		</tr>
	</tbody>
</table>
