---
layout: page
---
<div class="container">
	<div class="row">
		<article class="col-md-9 col-sm-8 col-md-push-3 col-sm-push-4 maincontent">
			{{ content }}
		</article>
		<aside class="col-md-3 col-sm-4 col-md-pull-9 col-sm-pull-8 sidebar">
			<div class="widget widget_categories">
				<h2 class="widget-title">Portfolio</h2>
				<ul>
					<li><a href="">Nature</a> 36
						<ul class="children">
							<li><a href="">Seaside</a> 12</li>
							<li><a href="">Wildlife</a> 180</li>
						</ul>
					</li>
					<li><a href="">People and Wedding</a> 9
						<ul class="children">
							<li><a href="">Portraits</a> 24</li>
							<li><a href="">Wedding</a> 36</li>
						</ul>
					</li>
				</ul>
			</div>		
		</aside>
	</div>
</div>